<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div class="page-top">
        <div class="page-content">
            <h2>任务计划列表</h2>
        </div>
        <div class="main">
            <h3 class="big-title">添加任务</h3>
            <input type="text" class="task-input" @keyup.enter="addTodo" v-model="todo">
            <ul class="task-count">
                <li>{{getChecked}}个任务未完成</li>
                <li class="action">
                    <a href="#all">所有任务</a>
                    <a href="#unfinish">未完成的任务</a>
                    <a href="#finish">完成的任务</a>
                </li>
            </ul>
            <h3 class="big-title">任务列表：</h3>
            <div class="tasks">
                <span class="no-task-tip" v-show="!list.length">还未添加任何任务</span>
                <ul class="todo-list">
                    <li class="list" v-for="(item,index) in filterList" :class="{completed:item.checked, editing:item === editingTodo}">
                        <div class="view">
                            <input type="checkbox" class="toggle" v-model="item.checked">
                            <label @dblclick="editTodo(item)">{{item.title}}</label>
                            <button class="destroy" @click="deleteTodo(item, $event)"></button>
                        </div>
                        <input type="text" class="edit" v-model="item.title" v-focus="item === editingTodo"
                            @keyup.enter="editedTodo" @blur="editedTodo" @keyup.esc="cancelTodo(item)">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="index.js"></script>



</body>

</html>
